version: 2.1

jobs:
  lint-and-verify-build:
    docker:
      - image: cimg/node:18.19.0

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: npm ci

      - run:
          name: Run eslint
          command: npm run lint

      - run:
          name: Build
          command: npm run build

workflows:
  version: 2
  main:
    jobs:
      - lint-and-verify-build:
          filters:
            branches:
              only:
                - main